:root {
    --primary-color: #155263;
    --secondary-color: #ff6f3c;
    --tertiary-color: #ff9a3c;
    --quaternary-color: #ffc93c;
    --light-color: white;
    --link-color: #3C72FF;
}

#logo {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.navigation-item {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.navigation-item:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

#hero {
    background-color: var(--quaternary-color);
}

#james-image {
    height: 300px;
    object-fit: scale-down;
    object-position: center;
}

.section-title h1 {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

.work-card {
    border: 3px solid var(--primary-color);
    color: var(--primary-color) !important;
    transition: all 1s ease-out;
    text-decoration: none;
}

.work-card:hover {
    border: 3px solid var(--quaternary-color);
    background-color: var(--quaternary-color);
    transition: all 1s ease-in;
}

.work-card-image {
    height: 150px;
    object-fit: cover;
    object-position: top;
    border-radius: 0;
    opacity: 0.5;
    transition: all 1s ease-out;
}

.work-card:hover .work-card-image {
    opacity: 1;
    transition: all 1s ease-in;
}

.work-card-image-featured {
    height: 250px;
}

.work-card-body {
    border-top: 3px solid var(--primary-color);
    transition: all 1s ease-out;
}

.work-card:hover .work-card-body {
    border-top: 3px solid var(--quaternary-color);
    transition: all 1s ease-in;
}

.work-detail {
    background-color: var(--primary-color);
    color: var(--light-color);
    opacity: .75;
    transition: all 1s ease-out;
}

.work-card:hover .work-detail {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    transition: all 1s ease-in;
    opacity: 1;
    box-shadow: -2px 2px 0px rgba(0, 0, 0, 0.2);
}

.contact-link {
    text-decoration: none;
    transition: all 1s ease-out;
}

.contact-link:hover {
    text-decoration: underline;
    transition: all 1s ease-in;
}

.github-link:hover {
    color: RGB(110, 84, 148);
}

.spotify-link:hover {
    color: RGB(29, 185, 84);
}

.email-link:hover {
    color: RGB(199,22,16)
}

footer {
    background-color: var(--quaternary-color);
}

#big-red-button:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2)
}

.hover-link {
    text-decoration: none;
}

.hover-link-1:hover {
    animation: random 2s infinite;
}

.hover-link-2 {
    transform: scale(1);
    transition: transform 0.3s ease-out;
}

.hover-link-2:hover {
    transform: scale(1.5);
    transition: transform 0s;
}

/* This media query repositions the borders on the section title from underneath the title to the right of it. Responsive borders are not supported natively in bootstrap (e.g. be-md-0) hence the need for this. */

@media only screen and (min-width : 768px) {
    .section-title {
        /*border-bottom: 0;*/
        border-right: 3px solid var(--primary-color);
    }
    
    .section-title h1 {
        border-bottom: none;
    }
}

/* This media query changes the object position of the main self photo to use object-position:right on larger screen sizes */

@media only screen and (min-width : 768px) {
    #james-image {
        object-position: right;
    }
}

@keyframes random {
    15% { color: var(--primary-color); } 
    30% { color: var(--secondary-color); } 
    45% { color: var(--tertiary-color); } 
    60% { color: var(--quaternary-color); }
    75% { color: var(--light-color); }  
}