:root {
  --primary-color: #155263;
  --secondary-color: #ff6f3c;
  --tertiary-color: #ff9a3c;
  --quaternary-color: #ffc93c;
  --light-color: white;
}

#logo {
    background-color: var(--primary-color);
    color: var(--light-color);
}

 .navigation-item {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.navigation-item:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

#hero {
    background-color: var(--quaternary-color);
}

#james-image {
    height: 300px;
    object-fit: scale-down;
}

.section-title h1 {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

.work-card {
    border: 3px solid var(--primary-color);
    text-decoration: none;
}

.work-card-image {
    height: 150px;
    object-fit: cover;
    object-position: top;
    border-radius: 0;
    opacity: 0.5;
    transition: all 1s ease-out;
}

.work-card:hover .work-card-image {
    opacity: 1;
    transition: all 1s ease-in;
}

.work-card-image-featured {
    height: 250px;
}

.work-card-body {
    border-top: 3px solid var(--primary-color)
}

/* This media query repositions the borders on the section title from underneath the title to the right of it. Responsive borders are not supported natively in bootstrap (e.g. be-md-0) hence the need for this. */
 
 @media only screen and (min-width : 992px) {
    .section-title {
        /*border-bottom: 0;*/
        border-right: 3px solid var(--primary-color);
    }

    .section-title h1 {
        border-bottom: none;
    }
 }